body { 
    overflow-x: hidden;
    font-family: Nunito,sans-serif;
}

.contenedor-1 {
    height: 100vh;
    width: 100vw;
    padding-top: 14vh;
    background-image: url(../img/fondo.jpg);
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.contenedor-2 {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 40px;
    background-color: var(--color1);
    border-radius: 15px;
    height: 50%;
    width: 40%;
    box-shadow: var(--shadow1);
}
    
h1 {
    background: var(--gradiente1);
    font-weight: 800;
    font-size: 70px;
    background-size: 200% 200%;
    animation: degradado 3s ease infinite;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

p {
   font-size: 17px;
   color: rgb(174, 231, 227);
}

.circulo {
   height: 270px;
   width: 270px;
   background: var(--color1);
   border-radius: 270px;
   box-shadow: var(--shadow2);
   transition: 1s;
   overflow: hidden;
}

.circulo:hover {
    transform: scale(1.25);
    transition: 1s;
}